<!--
    This awesome pen was built with Cirrus CSS! Check it out at https://github.com/Spiderpig86/Cirrus!

       _______
      / ____(_)___________  _______
     / /   / / ___/ ___/ / / / ___/
    / /___/ / /  / /  / /_/ (__  )
    \____/_/_/  /_/   \__,_/____/

    Happy coding. :)
-->

<!DOCTYPE html>
<html>
    <head>
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"
        />
        <meta charset="UTF-8" />
        <title>Contact Us</title>

        <link
            href="https://unpkg.com/cirrus-ui"
            type="text/css"
            rel="stylesheet"
        />

        <link
            href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700"
            rel="stylesheet"
        />
        <link
            href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
            rel="stylesheet"
        />
        <link
            href="https://fonts.googleapis.com/css?family=Oswald"
            rel="stylesheet"
        />

        <link
            rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
            integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
            crossorigin="anonymous"
        />

        <script
            src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous"
        ></script>
    </head>

    <body>
        <div class="hero fullscreen">
            <div class="hero-body">
                <div style="margin: auto">
                    <form class="frame p-0" method="post">
                        <div class="frame__body p-0">
                            <div class="row p-0 level fill-height">
                                <div class="col">
                                    <div class="space xlarge"></div>
                                    <div class="padded">
                                        <h1 class="u-text-center u-font-alt">Contact Us</h1>
                                        <div class="divider"></div>
                                        <p class="u-text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                        <div class="divider"></div>

                                        <div class="form-group">
                                            <label class="form-group-label">
                                                <span class="icon">
                                                    <i class="fa-wrapper far fa-user"></i>
                                                </span>
                                            </label>
                                            <input type="text" class="form-group-input" placeholder="Enter your name" />
                                        </div>

                                        <div class="form-group">
                                            <label class="form-group-label">
                                                <span class="icon">
                                                    <i class="fa-wrapper far fa-envelope"></i>
                                                </span>
                                            </label>
                                            <input type="email" class="form-group-input" placeholder="Enter your email" />
                                        </div>

                                        <div class="form-section section-inline">
                                            <div class="section-body row">
                                                <div class="form-group col-6 pl-0">
                                                    <label class="form-group-label">
                                                        <span class="icon">
                                                            <i class="fa-wrapper far fa-calendar"></i>
                                                        </span>
                                                    </label>
                                                    <input type="date" class="form-group-input" placeholder="Enter your birthday (or not)" />
                                                </div>

                                            </div>
                                        </div>

                                        <textarea placeholder="Tell us what's wrong"></textarea>

                                        <div class="form-ext-control form-ext-checkbox">
                                            <input id="check1" class="form-ext-input" type="checkbox">
                                            <label class="form-ext-label" for="check1">Send me a copy.</label>
                                        </div>

                                        <div class="space"></div>

                                        <div class="btn-group u-pull-right">
                                            <button class="btn-info">Send</button>
                                        </div>

                                    </div>
                                    <div class="space xlarge"></div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
