<section class="main-container" id="carousel">
  <div class="location" id="home">
    <h1 id="home"></h1>
    <div class="box">
      <a routerLink="/mercedes"><img src="./assets/Mercedes-Logo.svg.png" alt="" style="width: 140px; height: 140px;"></a>
      <a routerLink="/bmw"><img src="./assets/BMW.svg.png" alt="" style="width: 140px; height: 140px;"></a>
      <a routerLink="/audi"><img src="./assets/audi-logo-2.png" alt=""></a>
      <a routerLink="/honda"><img src="./assets/Honda-logo.png" alt=""></a>
      <a routerLink="/faraday"><img src="./assets/Faraday-Future-Logo-Electric-700x394.png" alt=""></a>
      <a routerLink="/maserati"><img src="./assets/Jaguar-symbol-black-1920x1080.png" alt=""></a>
      <a href=""><img src="./assets/Toyota-Logo-1989.png" alt=""></a>
      <a href=""><img src="./assets/Ioniq-Logo.png" alt=""></a>
      <a routerLink="/tesla"><img src="./assets/Tesla-Logo-Electric.png" alt=""  ></a>
      <a href=""><img src="./assets/Brammo-Logo-Electric-700x394.png" alt="" ></a>
      <a routerLink="/citroen"><img src="./assets/Citroen-logo-2009-2048x2048-removebg-preview.png" alt=""></a>
      <a href=""><img src="./assets/Karma-Automotive-Logo-Electric-700x394.png" alt=""></a>
      <a href=""><img src="./assets/Lordstown-Motors-Corporation-Logo-Electric-700x394.png" alt=""></a>
      <a href=""><img src="./assets/Lucid-Motors-Logo-Electric-700x394.png" alt=""></a>
      <a href=""><img src="./assets/Opel-Logo.png" alt=""></a>
      <a href=""><img src="./assets/porsche-logo-16.png" alt=""></a>
      <a routerLink="/volvo"><img src="./assets/DS-Automobiles-Logo.png" alt="" ></a>
      <a routerLink="/volvo"><img src="./assets/Volvo-Iron-Mark-Black.svg.png" alt=""style="width: 130px; height: 130px;"></a>
      <a routerLink="/volvo"><img src="./assets/Subaru-Logo.png" alt=""></a>
      <a routerLink="/volvo"><img src="./assets/1200px-LandRover.svg.png" alt=""></a>
      <a routerLink="/volvo"><img src="./assets/j9G3Pmg-_400x400.jpg" alt=""></a>
      <a routerLink="/volvo"><img src="./assets/SEAT-Logo-2012-2017.png" alt=""></a>
      <a routerLink="/volvo"><img src="./assets/Mazda_Logo.png" alt=""></a>
      <a routerLink="/volvo"><img src="./assets/Dacia-logo-2008-1920x1080.png" alt=""></a>
      <a routerLink="/volvo"><img src="./assets/goupil-ev-logo-200.png" alt=""></a>
      <a routerLink="/volvo"><img src="./assets/nissan-logo-2001-2000x1750.png" alt=""></a>
      <a routerLink="/polestar"><img src="./assets/Polestar.png" alt="" style="width: 140px; height: 140px;"></a>
      <a routerLink="/skoda"><img src="./assets/Skoda-Logo.png" alt=""></a>
      <a routerLink="/volvo"><img src="./assets/803-8034518_jac-logo-jac-car-logo-png.png" alt=""></a>
      <a routerLink="/hundai"><img src="./assets/Hyundai-Logo.png" alt=""></a>
      <a routerLink="/volvo"><img src="./assets/aiways-logo-2100x1350.png" alt=""></a>
      <a routerLink="/maserati"><img src="./assets/Maserati-Logo.png" alt=""></a>
      <a routerLink="/volvo"><img src="./assets/fiat-3-logo-png-transparent.png" alt=""></a>
      <a routerLink="/volvo"><img src="./assets/bb3f5cd41528ffa0cce8372b760867b5.png" alt=""></a>
      <a routerLink="/volvo"><img src="./assets/Rolls-Royce-Logo.jpg" alt="" style="width: 100px; height: 140px;"></a>
      <a routerLink="/kia"><img src="./assets/638e307b3eae41f3706b4076.png" alt="" ></a>


















    </div>
  </div>
</section>





